@model IEnumerable<SnippetApp.Snippet>

@{
    ViewBag.Title = "GetSnippet";
}

<h2>GetSnippet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageorLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageorLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TextID }) |
            @Html.ActionLink("Details", "Detail", new { id=item.TextID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TextID })
        </td>
    </tr>
}

</table>
